CASAS_USER=casas
CASAS_EMAIL=casas@casas.org
CASAS_PASSWORD=?MyUs3rP@ssw0rD!
REDIS=redis
REDISDB=0
EMAIL_HOST=test.smtp.com
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_PORT=587
EMAIL_HOST_USER=user@test.smtp.com
EMAIL_HOST_PASSWORD=userpassword
APP_URL=digiagriapp.containers.localhost
APP_TIMEOUT=120
APP_WORKERS=2
APP_DATA_DIR=/tmp/
CDS_API_KEY=
POSTGRES_DB=casas
POSTGRES_USER=casas
POSTGRES_PASSWORD=!C@$@$P@ssw0rd?
POSTGRES_HOST=db
